@model CijferRegistratie.Data.Entities.Poging

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Poging</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jaar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jaar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resultaat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resultaat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vak.Naam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
